<%-  include('header', {title: 'Snippets: Dashboard'}); -%>
  <body>
    <nav>
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <img class="nav-logo" src="logo-line.svg" />
      <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/login">My Blog</a></li>
        <li><a href="/entry">Create New Entry</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
    <div class="dashboard-body">
      <div class="para-1">
        <h1>Welcome back, </h1>
      </div>
    </div>
  </body>
</html>
