<%-  include('header', {title: 'Snippets: Entry Edited'}); -%>
<%-
include('navbar2'); -%>  
<body>
<div class="entryedited-body">
  <div class="header">
    <h1>Entry edited!</h1>
    <h2><a href="/entry/<%= inputData[0] %>">Click here</a> to view your entry!</h2>
  </div>
</div>
</body>
</html>