<%-  include('header', {title: 'Snippets: Sign Up Successful'}); -%>
<%-
include('navbar2'); -%>  
<body>
<div class="entrydeleted-body">
  <div class="header">
    <h1>Entry deleted successfully!</h1>
  </div>
</div>
</body>
</html>