<%-  include('header', {title: 'Snippets: Sign Up Successful'}); -%>
<body>
  <nav>
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <img class="nav-logo" src="/logo-line.svg" />
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/blog/<%= cookiesInfo[0] %>">My Blog</a></li>
      <li><a href="/entry">Create New Entry</a></li>
      <li><form action="/logout?_method=DELETE" method="POST">
        <input type="submit" value="Log Out"/>
      </form>
    </ul>
  </nav>
<div class="entrycreated-body">
  <div class="header">
    <h1>Entry created!</h1>
    <h2><a href="/entry/<%= data.id %>">Click here</a> to view your entry!</h2>
  </div>
</div>
</body>
</html>