<%-  include('header', {title: 'Snippets: Sign Up Successful'}); -%>
<%-
include('navbar2'); -%>  
<body>
<div class="entrycreated-body">
  <div class="header">
    <h1>Entry created!</h1>
    <h2><a href="/entry/<%= data.id %>">Click here</a> to view your entry!</h2>
  </div>
</div>
</body>
</html>