<%-  include('header', {title: 'Snippets: Error'}); -%>
<%-
include('navbar1'); -%>  
<body>
    <div class="home-body">
      <div class="para-1">
        <h1>Sorry! There was an error! &#128546;</h1>
      </div>
    </div>
  </body>
</html>
