<%-  include('header', {title: 'Snippets: Error'}); -%>
  <body>
    <nav>
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <img class="nav-logo" src="logo-line.svg" />
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>
    </nav>
    <div class="home-body">
      <div class="para-1">
        <h1>Sorry! There was an error! &#128546;</h1>
      </div>
    </div>
  </body>
</html>
