<%-  include('header', {title: 'Snippets: Homepage'}); -%>
<%-
include('navbar1'); -%>  
<body>
    <div class="home-body">
      <div class="para-1">
        <h1>Welcome to</h1> <img src="logo-box.svg" class="welcome-logo" />
      </div>
      <div class="para-2">
        <h2>
          This is a micro-blogging app that allows you to share your thoughts in
          bite-sized entries and comments.<br><br>
          Go ahead to Sign Up or Login to get started!
        </h2>
      </div>
    </div>
  </body>
</html>
