<%- include('header', {title: `Snippets: User Login`}); -%>

<body>
    <nav>
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <img class="nav-logo" src="/logo-line.svg" />
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Sign Up</a></li>
    </ul>
  </nav>
<div class="login-body">
  <div class="header">
    <h1>User Login</h1>
  </div>
  <div class="form">
    <form class="login-form" action="/login" method="POST">
      <div class="form-group">
        <label for="username" class="form-label">Username:</label><br/>
        <input type="text" id="username" name="username" required/>
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Password:</label><br/>
        <input type="password" id="password" name="password" minlength="8" required/>
      </div>
      <div class="submit-button">
      <input type="submit" value="Login"/>
      </div>
    </form>
  </div>
</div>
</body>
</html>