<%-  include('header', {title: 'Snippets: Sign Up'}); -%>
<body>
    <nav>
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <img class="nav-logo" src="/logo-line.svg" />
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Sign Up</a></li>
    </ul>
  </nav>
<div class="signup-body">
  <div class="header">
    <h1>New User Sign Up</h1>
  </div>
  <div class="form">
    <form class="signup-form" action="/signup" method="POST">
      <div class="form-group">
        <label for="username" class="form-label">Username</label><br/>
        <input type="text" id="username" name="username" required/>
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Password</label><br/>
        <input type="password" id="password" name="password" required/>
      </div>
      <input type="submit" value="Sign Up"/>
    </form>
  </div>
</div>
</body>
</html>