<%-  include('header', {title: 'Snippets: Sign Up'}); -%>
<%-
include('navbar1'); -%>  
<body>
<div class="signup-body">
  <div class="header">
    <h1>New User Sign Up</h1>
  </div>
  <div class="form">
    <form class="signup-form" action="/signup" method="POST">
      <div class="form-group">
        <label for="username" class="form-label">Username:</label><br/>
        <input type="text" id="username" name="username" required/>
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Password:</label><br/>
        <input type="password" id="password" name="password" required/>
      </div>
      <div>
        <div class="submit-button">
          <input type="submit" value="Sign Up"/>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>