<%-  include('header', {title: 'Snippets: Sign Up Successful'}); -%>
<body>
<div class="signupsuccessful-body">
  <div class="header">
    <h1>Sign up successful! <a href="/login">Login</a> to get started.</h1>
  </div>
</div>
</body>
</html>