<%-  include('header', {title: 'Snippets: Sign Up Successful'}); -%>
<%-
include('navbar1'); -%>  
<body>
<div class="signupsuccessful-body">
  <div class="header">
    <h1>You have signed up successfully!</h1><br>
    <h2>Go ahead to Login to get started!</h2>
  </div>
</div>
</body>
</html>