<%-  include('header', {title: 'Snippets: Sign Up Successful'}); -%>
<body>
  <nav>
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <img class="nav-logo" src="/logo-line.svg" />
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Sign Up</a></li>
    </ul>
  </nav>
<div class="signupsuccessful-body">
  <div class="header">
    <h1>Sign up successful! <a href="/login">Login</a> to get started.</h1>
  </div>
</div>
</body>
</html>